@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-image: url("https://images.unsplash.com/photo-1594145070100-c771df5152fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 50px;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 45px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgb(211, 199, 199);
  -webkit-text-stroke: 1.4px white;
  color: #a529c4;
  letter-spacing: 4px;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}

.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls .controls_range {
  margin-bottom: 30px;
}
.controls .controls_btns {
  margin-bottom: 30px;
}

.controls_btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 15px;
}

.controls_btns button:active {
  transform: scale(0.98);
  font-weight: 500;
}

.controls .controls_colors {
  display: flex;
}

.controls_colors .controls_color, .color_picker {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}

.controls_colors .controls_color:not(:last-child) {
  margin-right: 10px;
}
.color_picker{
  outline: none;
  -webkit-app
}
input[type=color]{
  display: none;
}
span{
  display:inline-block;
}